# Archivos de log
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Directorio de dependencias
node_modules

# Carpeta de compilación (se genera dentro del Dockerfile)
dist

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDEs
.idea
.vscode

# Archivos de entorno (estos se deben gestionar con variables de entorno de Docker)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de build info de TypeScript
*.tsbuildinfo

# Archivos de test
coverage
